<header>
    <h1>ANSES</h1>
    <nav>
        <ul>
            <li><a href="/blog/">Blog cómputos</a></li>
            <li><a href="#">Tabla minimas</a></li>
            <li><a href="#">Topes RDP</a></li>
            <li><a href="#">Herramientas</a></li>
            <li><a href="/LMN">Cálculos LMN</a></li>
        </ul>
    </nav>
</header>