<header>
    <h1>ANSES</h1>
    <nav>
        <ul>
            <li><a href="/general/blog/">Notas cómputos</a></li>
            <li><a href="/lmn/pension">Pensión LMN</a></li>

        </ul>
    </nav>
</header>