<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accesos directos - Planillas de LMN</title>
    <link rel="stylesheet" href="../styles/stylesCalculos.css">

    <link href='https://fonts.googleapis.com/css?family=Encode Sans' rel='stylesheet'>
</head>

<body>

    <header>
        <%- include('header') %>
    </header>

    <main>
        <h1 class="titulos">Accesos directos - Planillas de LMN</h1>

        <div class="links">
            <h3>Cálculo de indebidas</h3>
            <a href="/puam">PUAM</a>
            <a href="/pnc">PNC</a>

            <h3>Cálculo de LMN</h3>
            <a href="/puam">PBU-PC-PAP</a>
        </div>
    </main>


    <br>     <br>
    <br>
    <br>


    <footer>
        <p>Derechos de autor © 2024 - Lucas Matías Banegas</p>
    </footer>

</body>

</html>
