<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/stylesCalculos.css">
    <link rel="stylesheet" href="styles.css">

    <title>Accesos directos - Planillas de LMN</title>


    <link href='https://fonts.googleapis.com/css?family=Encode Sans' rel='stylesheet'>
</head>

<body>

    <header>
        <%- include('header') %>
    </header>

    <main>
        <h1 class="titulos">Accesos directos - Planillas de LMN</h1>

        <div class="links">
            <h3>Cálculo de indebidas</h3>
            <a href="/lmn/puam">PUAM</a>
            <a href="/lmn/pnc">PNC</a>

            <h3>Cálculo de LMN</h3>
            <a href="/lmn/pension">Pensión</a>
         


            <a href="/lmn/pension2">Pensión - Sin complemento al mínimo (Para casos de Renta Vitalicia)</a>

            <a href="/lmn/retro">Pensión - Para calcular haberes con fechas de alta de mensuales anteriores | EN DESARROLLO |</a>

            <a href="/lmn/actualizacionhaber">Actualizar haber</a>

            <a href="/lmn/actualizacionhaber2">Actualizar haber - Con descuento de 3% de OS</a>

            <a href="/lmn/bonos">Bonos / Refuerzos </a>


        </div>
    </main>





    <footer>
        <p>Oficina Palomar - 2024 </p>
    </footer>

</body>

</html>
