<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Oficina Palomar</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="../styles/stylesCalculos.css">

    <link href='https://fonts.googleapis.com/css?family=Encode Sans' rel='stylesheet'>

    <style>
        * {
            text-align: center;
        }

        .opciones {
            margin: 10px;
        }

        .opciones label {
            margin: 10px;
        }

        table {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .resultados table,
        .resultados th,
        .resultados td {
            border: none;
        }



        input[type="checkbox"] {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <header><%- include('header') %></header>

    <h1 id="titulo">Pensiones derivadas</h1>

    <form id="formularioCalculo" action="/lmn/pension" method="post">

        <h2 class="titulos">Datos solicitante:</h2>
        <label for="titular">Nombre y apellido</label>
        <input type="text" id="titular" name="titular">
        <br>
        <label for="cuil">CUIL</label>
        <input type="text" id="cuil" name="cuil">
        <br>
        <label for="expediente">Número de expediente</label>
        <input type="text" id="expediente" name="expediente">
        <br>

        <h2 class="titulos">Datos causante:</h2>
        <label for="causante">Nombre y apellido</label>
        <input type="text" id="causante" name="causante">
        <br>
        <label for="cuilcausante">CUIL</label>
        <input type="text" id="cuilcausante" name="cuilcausante">
        <br>
        <label for="beneficio">Número de beneficio</label>
        <input type="text" id="beneficio" name="beneficio">
        <br>



        Fecha de fallecimiento:
        <div class="fip">
            <label for="diaF"></label>
            <input type="number" id="diaF" name="diaF" value="10" required min="1" max="31" placeholder="Día">
            <label for="mesF"></label>
            <input type="number" id="mesF" name="mesF" value="10" required min="1" max="12" placeholder="Mes">
            <label for="anioF"></label>
            <input type="number" id="anioF" name="anioF" value="2022" required min="2021" max="2023" placeholder="Año">
        </div>

        <br>
        Fecha inicial de pago:
        <div class="fip">
            <label for="dia"></label>
            <input type="number" id="dia" name="dia" value="10" required min="1" max="31" placeholder="Día">
            <label for="mes"></label>
            <input type="number" id="mes" name="mes" value="10" required min="1" max="12" placeholder="Mes">
            <label for="anio"></label>
            <input type="number" id="anio" name="anio" value="2022" required min="2021" max="2023" placeholder="Año">
        </div>



        <br><br><br>
        <div id="formulario">


            <div class="opciones" id="opciones">
                <h2>Haber del causante:</h2>
                <table>
                    <tr>
                        <th>Concepto</th>
                        <th>Monto</th>
                    </tr>
                    <tr>
                        <td>PBU</td>
                        <td>
                            <label for="PBU">
                                <input type="text" id="PBU" name="PBU" pattern="[0-9,]*">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>PBU C/Sentencia</td>
                        <td>
                            <label for="PBUS">
                                <input type="text" id="PBUS" name="PBUS" pattern="[0-9,]*">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>PC</td>
                        <td>
                            <label for="PC">
                                <input type="text" id="PC" name="PC" pattern="[0-9,]*">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>PAP</td>
                        <td>
                            <label for="PAP">
                                <input type="text" id="PAP" name="PAP" pattern="[0-9,]*">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Complemento haber mínimo</td>
                        <td>
                            <label for="minimo">
                                <input type="text" id="minimo" name="minimo" pattern="[0-9,]*">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Reparación histórica</td>
                        <td>
                            <label for="rh">
                                <input type="text" id="rh" name="rh" pattern="[0-9,]*">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Suplemento dinerario</td>
                        <td>
                            <label for="suplementoDinerario">
                                <input type="text" id="suplementoDinerario" name="suplementoDinerario"
                                    pattern="[0-9,]*">
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td>Obra Social</td>
                        <td>
                            <label for="os">
                                <input type="text" id="os" name="os" pattern="[0-9,]*">
                            </label>
                        </td>
                    </tr>


                </table>

                <div class="checkbox">
                    <label for="devengados">Haberes devengados
                        <input type="checkbox" name="devengados" id="devengados">
                    </label>
                
                    <label for="indebidos">Haberes indebidos
                        <input type="checkbox" name="indebidos" id="indebidos">
                    </label>
                </div>

            </div>



            <button id="calcularBtn" type="submit">Calcular</button>

    </form>







</body>

</html>