<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de la Suma</title>
</head>
<body>
    <h1>Resultado de la Suma</h1>
    <p>Total de montos a abonar: <%= totalMonto %></p>
</body>
</html>