<html>

<head>
  <meta charset="utf-8" />
  <script src="https://unpkg.com/pdf-lib@1.11.0"></script>
  <script src="https://unpkg.com/downloadjs@1.4.7"></script>
  <link rel="stylesheet" type="text/css" href="http.//fonts.googleapis.com/css?family=Tangerine">


  <style>
    body {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    .input282 {
      display: flex;
      flex-direction: column;
      width: 30%;
    }
  </style>
</head>

<body>
  <h2>Formulario creación formulario 575RT </h2>

  <div class="input282">
    <label for="trabajador">CUIL trabajador</label>
    <input type="text" id="trabajador">
    <br>


    <div class="fecha">
      <label for="mes">Mes </label>
      <input type="text" id="mes">

      <label for="anio">Año</label>
      <input type="text" name="anio" id="anio">
    </div>
    <br>

    <label for="importe">Importe</label>
    <input type="text" name="importe" id="importe">
    <br>

    <label for="empleador">CUIL Empleador</label>
    <input type="text" name="empleador" id="empleador">
    <br>
    <button onclick="fillForm()">Enviar</button>
  </div>
</body>

<script>
  async function fillForm() {
    const { PDFDocument } = PDFLib;

    // Fetch the PDF with form fields 
    const formUrl = '/pdf/form575.pdf';
    const formPdfBytes = await fetch(formUrl).then((res) => res.arrayBuffer());

    // Load a PDF with form fields
    const pdfDoc = await PDFDocument.load(formPdfBytes);

    // Get the form containing all the fields
    const form = pdfDoc.getForm();

    // Get all fields in the PDF by their names
    const trabajadorField = form.getTextField('trabajador');
    const mesField = form.getTextField('mes');
    const anioField = form.getTextField('anio');
    const importeField = form.getTextField('importe');
    const empleadorField = form.getTextField('empleador');


    // Fill in the basic info fields (reemplaza con tus valores)
    trabajadorField.setText(document.getElementById('trabajador').value);
    mesField.setText(document.getElementById('mes').value);
    anioField.setText(document.getElementById('anio').value);
    importeField.setText(document.getElementById('importe').value);
    empleadorField.setText(document.getElementById('empleador').value);


    // Serialize the PDFDocument to bytes (a Uint8Array)
    const pdfBytes = await pdfDoc.save();

    // Obtén el CUIL del trabajador ingresado por el usuario
    const cuilTrabajador = document.getElementById('trabajador').value;
    const mes = document.getElementById('mes').value;
    const anio = document.getElementById('anio').value;


    // Combina el CUIL del trabajador para formar el nombre del archivo de salida
    const nombreArchivo = `${cuilTrabajador}_${mes}_${anio}.pdf`;


    // Trigger the browser to download the PDF document
    download(pdfBytes, nombreArchivo, 'application/pdf');
  }
</script>

</html>